@tailwind base;
@tailwind components;
@tailwind utilities;

.die {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  animation: roll 2s ease-in-out;
  margin: 1rem;
}

